@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  user-select: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
  
.game {
  height: 800px;
  width: 100%;
}

body {
  margin: 0;
  font-family: "Roboto";
  background-color: rgb(223, 223, 223);
}

.field_wrap {
  display: flex;
  position: absolute;
  top: 35%;
  left: 27%;
  border: 8px solid rgb(178, 178, 178);
}

.cell {
  width: 35px;
  height: 35px;
  border: 2px solid black;
  border-width: 5px;
  border-color: white rgb(138, 138, 138) rgb(138, 138, 138) white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.n_1 {
  color: rgb(0, 0, 255);
}

.n_2 {
  color: rgb(0, 171, 20);
}

.n_3 {
  color: rgb(225, 0, 0);
}

.n_4 {
  color: rgb(168, 0, 180);
}

.n_5 {
  color: rgb(156, 159, 0);
}

.n_6 {
  color: rgb(0, 199, 213);
}

.n_7 {
  color: rgb(217, 112, 0);
}

.n_8 {
  color: rgb(168, 0, 224);
}

.panel {
  position: absolute;
  top: 21%;
  left: 39.75%;
}

.bomb_count, .reset, .timer {
  display: inline-block;
  border: 2px solid black;
  padding: 20px;
  margin: 5px;
  font-size: 30px;
  font-weight: 600;
  background-color: #fff;
  color: #000000;
}

.tool_btn {
  background-color: #fff;
  width: 76px;
  height: 76px;
  position: absolute;
  top: 5.5%;
  left: 102%;
  font-size: 50px;
  font-weight: 600;
  border: 2px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset {
  cursor: pointer;
}

.nomal_cell {
  border-color: white rgb(138, 138, 138) rgb(138, 138, 138) white !important;
}

.pressed_cell {
  border-color: rgb(223, 223, 223);
}

.fatal_bomb {
  background-color: red;
  border-color: red !important;
}